@use 'fonts';

$primary-color: rgb(232, 48, 177);
$secondary-color: rgb(67, 67, 195);
$accent-color: #F2D8D8;
$body-text-color: #fff;
$heading-font-family: 'Alata', sans-serif;
$body-font-family: 'Alata', sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400;