<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Disney World API</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div class="grid-con" id="app">
     <div class="col-span-full">
        <h2>Disney Characters</h2>
        <p>Come and explore the enchanting world of Disney characters</p>
        <p>Click on each character to get to know them better...</p>
        <ul id="book-list">
            <li v-for="character in charactersData">
                <!-- thumbnail added by students v-bind -->
                <img :src="`images/${character.image_url}`">
                <h3>
                    Name: 
                    <a href="#character" @click="getCharacter(character.name)">
                        {{character.name}}
                    </a>
                </h3>

                <h4>
                    Description: 
                    <a href="#character" @click="getCharacter(character.description)">
                        {{character.description}}
                    </a>
                </h4>
                <!-- <h4>Published: {{book.published_date}}</h4> -->
            </li>
        </ul>
    </div>
    <div class="col-span-full" id="bookInfoCon">
        <div v-if="error">{{error}}</div>
        <div v-else="!error" id="character">
            <p>Author: {{films}}</p>
            <p>Number of pages: {{videoGames}}</p>
            <p>Rating: {{parkAttractions}}</p>
            <p>First Sentence: {{enemies}}</p>

        </div>
    </div>
    </div>
</body>
</html>