<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Disney World API</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>

<body>

    <h1 class="hidden">Disney Characters</h1>
    <div id="sticky-nav-con">
    <header class="grid-con" id="main-header">
    <nav id="main-nav" class="col-start-1 col-end-2 m-col-start-7 m-col-end-12">
    <h2 class="hidden">Main Navigation</h2>
      <button id="button"></button>
        <div id="burger-con">
            <ul id="burger-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Characters</a></li>
                <li><a href="index.html">Explore</a></li>
            </ul>
        </div>  
    </nav>
    <div class="col-span-full m-col-start-1 m-col-end-6" id="logo">
        <a href="index.html">
        <img src="images/logo.png" alt="Disey Logo">
        </a>
    </div>
</header>
</div>



    <div class="grid-con" id="app">
     <div class="col-span-full m-col-start-3 m-col-end-11 l-col-start-4 l-col-end-10 " >
        <h2>Characters Parade</h2>
        <p>Explore the enchanting world of Disney characters!</p>
        <p>Click on each character to get to know them better...</p>
        
        <ul id="character-list">
            <li v-for="character in charactersData">
                <a href="#character" @click="getCharacter({ id: character.id, name: character.name })">
                    <img :src="`images/${character.url_image}`">
                </a>
                <h3>
                    Name: 
                    <a href="#character" @click="getCharacter({ id: character.id, name: character.name })">
                        {{character.name}}
                    </a>
                </h3>
                <h3>
                        {{character.description}}
                </h3>
            </li>
        </ul>
    </div>

    <div class="col-span-full m-col-start-3 m-col-end-11 l-col-start-4 l-col-end-10 " id="characterInfoCon">
        <div v-if="error">{{error}}</div>
        <div v-else id="character">
            <h2>{{name}} has been an inspiration for:</h2>
            <ul>
                <h3>Films:</h3>
                <li v-for="film in films">{{ film }}</li>
            </ul>
            <ul>
                <h3>Video Games:</h3>
                <li v-for="game in videoGames">{{ game }}</li>
            </ul>
            <ul>
                <h3>Park Attractions:</h3>
                <li v-for="attraction in parkAttractions">{{ attraction }}</li>
            </ul>
        </div>
    </div>
    </div>

    <footer id="footer-hero"> 
        <div class="grid-con">
            <section id="footer-contact-info" class="col-span-full m-col-start-4 m-col-end-10">
                <a href="index.html">
                <img src="images/logo.png" alt="Logo">
                </a>
                    <div id="footer-nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index.html">Characters</a></li>
                            <li><a href="index.html">Explore</a></li>
                        </ul>
                    </div>
            </section>

            <div id="footer-privacy" class="col-span-full m-col-start-2 m-col-end-12 line-seperator">
                <p id="price-policy">© Disney, All Rights Reserved, Disney Entertainment</p>
            </div>
        </div>
    </footer>

</body>
</html>