<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Disney World API</title>
    <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div class="grid-con" id="app">
     <div class="col-span-full">
        <h2>Disney Characters</h2>
        <p>Come and explore the enchanting world of Disney characters</p>
        <p>Click on each character to get to know them better...</p>
        
        <ul id="character-list" class="col-span-full">
            <li v-for="character in charactersData">
                <a href="#character" @click="getCharacter({ id: character.id, name: character.name })">
                    <img :src="`images/${character.url_image}`">
                </a>
                <h3>
                    Name: 
                    <a href="#character" @click="getCharacter({ id: character.id, name: character.name })">
                        {{character.name}}
                    </a>
                </h3>
                <h3>
                    Description: 
                        {{character.description}}
                </h3>
            </li>
        </ul>
    </div>

    <div class="col-span-full" id="characterInfoCon">
        <div v-if="error">{{error}}</div>
        <div v-else id="character">
            <h2>{{name}} has been an inspiration for:</h2>
            <ul>
                <h3>Films:</h3>
                <li v-for="film in films">{{ film }}</li>
            </ul>
            <ul>
                <h3>Video Games:</h3>
                <li v-for="game in videoGames">{{ game }}</li>
            </ul>
            <ul>
                <h3>Park Attractions:</h3>
                <li v-for="attraction in parkAttractions">{{ attraction }}</li>
            </ul>
        </div>
    </div>
    </div>
</body>
</html>