h2 {
    color: rgb(67, 67, 195);
    margin-top: 20px;
    font-size: 48px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

#character-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    // margin-top: 40px;
}

#character-list li {
    margin-bottom: 30px;
}

#character-list img {
    border-radius: 50%;
}