@use '../abstracts' as a;

body {
	font-family: a.$body-font-family;
	padding: 20px;
	color:  a.$secondary-color;
	background-image: url(../images/disney_castle.jpg);
    background-position: center; 
}

.background {
	opacity: 0.5;
}

#app {
	padding: 20px;
}

#characterInfoCon{
	margin-top: 40px;
}

#characterInfoCon h3{
	color:a.$primary-color;
}

a {
	color:a.$primary-color;
	text-decoration: none;
}